[2019-08-15 10:11] johngrinders opened #1 "Forward air conditioning in HomeKit"
Hey. Thank you very much for the plugin !!! Waited a long time. Everything works fine, now I'm starting to do automation. The only question is: I tried to forward the air conditioner through the HomeyKit plug-in in HomeKit, but I encountered that the device in HomeKit shows the correct temperature, makes it possible to control the on and modes, but does not control them.

[2019-08-17 16:25] XattSPT commented on #1
I've sent a new version with Homeykit compability. I supose it will be aproved in a few days.
It's necessary to delete devices and re-add them to get new capability "Homekit Thermostat"

Do not hesitate to post here if you have any suggestion.

[2019-08-19 07:11] johngrinders commented on #1
Thank you very much!!! I will wait for the new version.

[2019-08-21 12:13] #1 closed

[2019-08-25 09:09] Markus-art opened #2 "Missing functions vane control"
Thank you for good app.
Is it possible to integrate horizontal and vertical vane Control? Actually it is missing.
Wonderful would be, if the function fan speed and potentially vane control would be also available in HomeKit, using the app Homeykit.
Dears Markus

[2019-08-25 09:14] XattSPT commented on #2
@Markus-art the functions you are looking for are available on Homey. At same screen of THERMOSTAT (select up part of screen and select which one you want).

Unfortunately it is not possible to bring then to homekit couse it is not available on Homekit functions!

Tell me if you find them.

[2019-08-25 09:20] Markus-art commented on #2
Thank you very much for your quick answer.
In homey, I have the functions: thermostat, on/off, fan speed, thermostat mode.
Vane Control I could not find.

[2019-08-25 09:22] XattSPT commented on #2
On thermostat mode screen, you should be able to see other funcions clicking on title... and see a pickable list with Horizontal, Vertical and Homekit mode...

[2019-08-25 09:27] Markus-art commented on #2
Yes thank you very much, I did not see it before.
Is it possible to set the device update time to 1 minute because Mitsubishi changed their systems also to 1 minute update time?

[2019-08-25 09:34] XattSPT commented on #2
It is possible to change it between 5 and 60. On settings (gear symbol on top-right at screen) and then advanced settings. I think it is enougth. The system updates after 2 minuts after every change. Then use set time to update the device every 5-60 min. Polling to much refreshes to server it is not good practice.

It is pending by my side to create flow cards for changing Vane Control automatical

[2019-08-25 12:52] Markus-art commented on #2
Thank you very much. Best wishes.

[2019-08-25 12:52] #2 closed

[2019-09-24 07:57] johngrinders opened #3 "Automation Melcloud in Homey"
Automation Melcloud in Homey
Hey. Melcloud works fine, there were no problems. Thanks again for the plugin.
It came to automation in Homey and was faced with the fact that in flow it is impossible, under certain conditions, to perform actions with the air conditioner, namely:
1. It is not possible to select operating modes such as "Fan" and "Dry" in flow, there are only "Auto", "Heat", "Cold" and

[2019-09-27 06:35] johngrinders commented on #3
Hey. Found one more problem. When I indicate in flow in the final action that the air conditioner is in AUTO mode, it eventually switches to FAN mode, although the air conditioner itself physically has AUTO mode. I also attach photos to questions in the first post.
![IMG_9409](https://user-images.githubusercontent.com/13437063/65747369-f4d3fe80-e109-11e9-8c1b-ca4e1acfef31.PNG)
![IMG_9410](https://

[2019-10-17 15:15] gooooba opened #4 "Heat pump support"
hi,

please add heatpump support if possible.
OpenHab implementation has pumps already supported.

https://github.com/lucacalcaterra/org.openhab.binding.melcloud

[2019-11-06 05:41] gooooba commented on #4
It it helps, some https trace of melcloud working with heatpump(urls, parameters, values, ...)
[melcloud-reverse.txt](https://github.com/XattSPT/com.melcloud/files/3812688/melcloud-reverse.txt)

[2019-11-07 13:38] johngrinders commented on #3
Hey. I want to remind myself again))) and about the problems that I found in the Melcloud plugin. The problem is that in FLOW I can not fully use or change all the available air conditioning modes. Namely, there are no "Fan" and "Dry" operating modes.
There is no way to change "Fan Power" in the stream.
Thank!!!

[2019-11-09 16:58] kalle-se opened #5 "No devices found"
I’ve tried installing it but only get the feedback from that no new devices was found. I’ve asked around in some Facebook groups but no one seems to have the same issue. Only difference I’ve found is that so far I’m the only one I’ve talked to whom has two Mitsubishi HERO connected to MELCloud. Any thoughts?

[2019-11-09 17:02] XattSPT commented on #5
On melcloud app, do not organize them on rooms or floors or zones. Its a
bug pending by my side.

El ds, 9 nov 2019 a les 17:58 kalle-se <notifications@github.com> va
escriure:

[2019-11-09 17:10] XattSPT commented on #4
It should work with heatpumps.

Try not to set floors, or zones in melcloud app. it’s a bug on my app, I
will try to find time to solve it soon.

I actually use a heatpump, so I’m sure it works 😊

El dc, 6 nov 2019 a les 6:41 gooooba <notifications@github.com> va escriure:

[2019-11-09 20:22] kalle-se commented on #5
I cant seem to find an option not to have them assigned to a floor. Tried putting them on the same floor but it didn't work. As it's a pain to install them without an wps capable router it would be nice not having to remove them and reinstall.

Any ideas?

[2019-11-09 20:28] XattSPT commented on #5
On mecloud app, select a device. Then actions move (you should accept to
change scenes) and then, do not divide on floors, do not divide on zones,
etc.

El ds, 9 nov 2019 a les 21:22 kalle-se <notifications@github.com> va
escriure:

[2019-11-09 20:32] kalle-se commented on #5
It worked! Super thanks for the help! :)

[2019-11-09 20:35] XattSPT commented on #5
😉

U’re welcome!

El ds, 9 nov 2019 a les 21:32 kalle-se <notifications@github.com> va
escriure:

[2019-11-10 06:42] gooooba commented on #4
I have default building and Zone 1 setup and no floors.

In homey I can select my building/device(icon is air condition) but it doesnt show any usable option. I see current temperature(null), power(not working), FanPower(not aplicable to heat pump) and mode(with vertical, horisontal, full thermostat) which is not applicable to heat pump.

Plus each time I add a device in homey when I logon to melc

[2019-11-12 08:25] kjellkk commented on #3
I copy the feedback from @johngrinders, to be able to set fan power in a flow would be good. However I am unsure if this relates to this app (MelCloud) or if it relates to Homey overall.

[2019-11-17 18:39] XattSPT commented on #5
New version updated that detects devices in any config on Melcloud, pending for Homey approval.

[2019-11-23 20:15] #5 closed

[2019-11-24 08:02] gooooba commented on #4
I see that there is an update 1.1.2. Tried and still the same regarding heat pump control.

[2019-11-24 08:16] XattSPT commented on #4
dear @gooooba, i've been watching links you told me and integrating of Heat Pumps is not easier as I thought.

Now I'm focused on pulish AC control and adding Flowcards to control them.

After that I'll try to develop something for Heat Pumps, but it is not easy considering that I do not have a Heat Pump and I'm a hooby time developer, so I'm not sure if I could develop a this app.

I'll be writti

[2019-11-24 11:50] gooooba commented on #4
@XattSPT If you would like read only access to my heat pump, I could arrange that. Please let me know if you have time and energy.

[2019-11-24 18:03] XattSPT commented on #3
@johngrinders & @kjellkk I've published a test app with flowcards for non standard capabilities.
Feel free to send me any failure or additional flowcards that could be added.

https://homey.app/en-us/app/com.mecloud/MelCloud/test/

[2019-11-27 18:13] #3 closed

[2019-11-30 16:59] XattSPT commented on #4
@gooooba please give a try to this...
   https://homey.app/en-us/app/com.mecloud/MelCloud/test/
and tell me if it works more or less properly, and/or what kind of changes are needed.
If it is a disaster... I probably need those read only access... :)

[2019-11-30 18:00] gooooba commented on #4
@XattSPT Thanks:)  It detects the pump. it shows current temperature.

It looks like it doesn't send commands to the pump: I tried On/Off and set the room temperature.
It doesnt show watter tank temperature, just the "-" sign.

The main homey screen tile shows current temp. That is great.

Also cooling and heating changing collors is great idea.

[2019-11-30 18:02] XattSPT commented on #4
I should need those read access... to fix those things... :(

El ds, 30 nov 2019 a les 19:00 gooooba <notifications@github.com> va
escriure:

[2019-11-30 18:06] XattSPT commented on #4
gerard.ricart@gmail.com

[2019-11-30 18:57] XattSPT commented on #4
@gooooba a couple of thing...

   1) I think I'll will need this read access code to test :( (there is my email in las post, after you catch it i'll delete)
  2) I've published a new test version with somes changes... it sould improve sending actions and tankwater temp (I hope).
  3) If I publish on Github, are you able to install on homey? I don't wont to publish all those tries on Homey AppStore

[2019-11-30 21:30] gooooba commented on #4
@XattSPT  Got the email, you can delete it.

I installed the latest version. Tank temp shows 47 degrees actual temp is 42, so something must be off...
I don't think the sending part works. Now after changing the temp in homey even after waiting and restart of the app doesnt even pick up back the real set temperature(previous version did read the correct set temp)

I will configure the guest access

[2019-11-30 21:36] gooooba commented on #4
sent you the melcloud request.

I can install from github if push to homey is complicated for you. It is easier for me from homey app :) dont need pc and cmd line for it. But no problem.

[2019-11-30 21:42] XattSPT commented on #4
@gooooba great. I received and can see your device.

With this I can check better what's receiving from Melcloud.

I'll priorize homey appstore tests, then.
![9F4E5960-EA4A-4FA2-8C5F-7E0A96F2E54F](https://user-images.githubusercontent.com/38588531/69906358-8ee24c80-13c2-11ea-8589-8410e8095397.png)

[2019-11-30 22:00] gooooba commented on #4
@XattSPT  If you could add flow and return flow temperatures while you are working on this would be great. Once you have the hard basics done should be easy :)

[2019-12-01 10:24] XattSPT commented on #4
@gooooba give a look on new test on Homey AppStore. I hope we are going to the rigth direcction, your 'read only' access helps me a lot.

https://homey.app/en-us/app/com.mecloud/MelCloud/test/

Needed to test specially:
1) All commands are working (specially on/off and forcedWater)
2) limitations on target_temperature  are the same as Melcloud (or give me min and max temperatures from app)
3) Adde

[2019-12-01 14:09] gooooba commented on #4
@XattSPT tried to test and explain as much as possible :)

1. OFF/ON and forceHotWatter works with some cosmetic issues. When I press hotWater button for example the icon blinks briefly like it is ON, but changes back to OFF right away, so it looks like command didn't stick. But after about 30 seconds it changes state to ON like expected. It works like this on all on/off actions(power and watter).

[2019-12-01 14:18] XattSPT commented on #4
@gooooba thanks. I'll take a look this afternoon. I think you deleted all permition, because now I can not see your device on Melcloud.

The general issue you told is probalbly an error on sending commands. I will check carefully.

[2019-12-01 14:27] gooooba commented on #4
permissions should be fixed now.

[2019-12-01 14:32] XattSPT commented on #4
Thanks @goomba I’ll publish new beta this night with most of your report
solved.

El dg, 1 des 2019 a les 15:27 gooooba <notifications@github.com> va
escriure:

[2019-12-01 17:44] XattSPT commented on #4
@gooooba new publish.

I think I solved most of issues you reported.

Pending to try by your side on/off function, now it should go correctly, but I cannot test by myself.

You need to delelte device and re-add it to view improvements on UI (sensors on last page).

Added also device settings (set temperatures, ecomode, and tanktemp)

Regarding "external" triggering, I need to investigate a little

[2019-12-01 20:13] gooooba commented on #4
@XattSPT, I tested it. It looks like now issue reseting the settings is gone. I can also see all the sensors we talked about. 👍

**Minor fixes required:**
When you get to it could you please rename sensors:
"HOT WATER TEMP." to "HOT WATER FLOW"
"COLD WATER TEMP." to "COLD WATER FLOW"

Correct min/max values for settings based on what the pump is capable:
Set hot watter tank temperature = min 40 /

[2019-12-02 21:45] gooooba commented on #4
@XattSPT You probably allready know, but I noticed there no insights for melcloud device and its paramaters.

[2019-12-06 12:42] XattSPT commented on #4
@gooooba
   -  minor fixes updated.
   - added sensors and Flowcards (trigger and condition). I tried to test them, but i do not want to touch your system more than a ºC or two and I'm not able to get "heaters on", so please try it and verify if they work correctly (sensors and triggers)
   - Added temperatures to insights.
   - Added "always on" on device settings. when activated never stops the

[2019-12-06 13:05] XattSPT commented on #4
@gooooba

do you know the difference between theese ones?

  OperationMode: 2,
  OperationModeZone1: 0,
  OperationModeZone2: 2,

I supose U use OperationModeZone1, but, what is "OperationMode"? Heat, Cold & Auto?

[2019-12-06 15:26] XattSPT commented on #4
@gooooba give a try to it...

https://homey.app/en-us/app/com.mecloud/MelCloud/test/

[2019-12-06 19:15] gooooba commented on #4
@XattSPT
I managed to trigger Booster Heater 1, which is used as heating helper.
Tested in a flow (trigger) works OK.
Insights seems to work OK.
OperationMode works OK.
Always powerd on works OK.

Only thing **not** working is Advanced settings. It reads all the values OK. But if I set any or all of them none of them sticks. After next status update the values return back like they were.
Settings:

[2019-12-06 19:18] XattSPT commented on #4
@gooooba there is a little bug that U've dicovered and I'm triing to solve...

just change any parameter (set temperature) after any change on settings and then parameters will be saved!

Working on this!

[2019-12-07 04:01] gooooba commented on #4
Tested the heaters some more. ON conditions are working fine but off conditions arent. Also when looking on of history on the last page you can see the ON events for heaters, but OFF events are not visible. The timestamp is there, but no text of what has happened then.
![174D7369-40F5-499E-B741-0B715F0EF3A0](https://user-images.githubusercontent.com/3322016/70368712-9ddb6a00-18ae-11ea-8095-163e232

[2019-12-07 08:08] gooooba commented on #4
@XattSPT  Found another interesting sensor for heat pumps named **DefrostMode**
DefrostMode=0 (not defrosting, normal operation)
DefrostMode=2 (defrosting)

And found out what OperationMode sensor means(for some modes):
OperationMode=1 (heating the WatterTank)
OperationMode=2 (heating the house)
OperationMode=5 (nothing, idle)

Probably there other numbers means something else but this is what I c

[2019-12-08 09:59] XattSPT commented on #4
@gooooba I've published new test version.

Changes on settings... Solved.
Conditions... not sure if I've solved the problem. If you can test them, souldh be helpful.
Defrost ... added as sensor.
Operation Mode ... added as sensor. Also added possiblility to change it on Settings. Added also trigger and condition Flowcards. I've no added Action Flowcard because I think theese actions should not hav

[2019-12-08 12:11] gooooba commented on #4
@XattSPT will test test test :)

Allready did test the Force hot watter as it is the easiest. When I trigger ForceHotWater from homey I get instant notification from homey as it triggers the flowcard. The Auto card doesn’t trigger when pump changes back to Auto.

I don’t know if I’m reporting back the correct findings as the flowcard for Forced Hot Water triggers every minute now until the ForceHo

[2019-12-08 12:22] gooooba commented on #4
Here are a notifications from homey while heating the DHW. Notice the DHW-Heating notification two times. It was when DHW was finishing and switching back to Heating operation.

![36A60B31-3A2D-4DF5-BB01-2346D2BF665D](https://user-images.githubusercontent.com/3322016/70389241-044eae00-19bd-11ea-8a55-afbde6fd54e9.png)

[2019-12-08 18:56] XattSPT commented on #4
@gooooba new test version in a couple of minuts.

I think all points solved. Your reports are perfect.

Flowcard, should go only when status changes, not on every refesh. I think it's solved.
Regarding 2 notifications on modes, i've done a flowcard on my homey (I cannot changes modes) so I'll will receive notifications similar than yours and I can try to solve the problem (if not solved yet)

[2019-12-08 20:59] gooooba commented on #4
@XattSPT It looks better :)

Stil minor issue with trigger for FHW.

When I turn FHW On(homey,cloud), ON Flow is trigered, when pump finishes heating the boiler and the pump notifies homey via the cloud then, ON flow is triggered again.

If I press button(ON) in homey, ON flow is trigered. If I press button(Auto) in homey again then Auto Flow is triggered.

So I guess when homey gets push info fro

[2019-12-09 03:30] gooooba commented on #4
@XattSPT Always On device is not working always. Just managed to turn it Off by mistake.
When I turn it off I always get the trigger flow notification, and then in some time(up to a minute) I usualy get Power On notification and the homey icon also changes to ON.

The difference in this case was, that Operationmode was OFF as the room temp was set to 19degrees and the pump had nothing to do. I sti

[2019-12-14 18:50] XattSPT commented on #4
@gooooba I've published new test version. I think always con capability is solved. You need homey at least on v.3.0.0.

I'll be finishing translation to spanish this weekend and probably publish the app to store. I'll try to test your last report on FHW.

Please tell me if always on solution works correctly.

[2019-12-16 05:51] gooooba commented on #4
@XattSPT I tested FHW and power button and it looks like it is working OK. Only thing I cant find is Power ON/Off flow trigger that was there before.

[2019-12-16 06:03] XattSPT commented on #4
@gooooba flow for On/off aren't there because when alwayson is active this capability is deleted and also all flow options. No on/off power is controlled. If you need on/off triggers you should set not always on device with the risk to stop it accidentally.

[2019-12-19 06:47] gooooba commented on #4
I noticed  that operation  mode  is not reflected  on the history page.

Also now  trigger for operation mode DHW and Heating  are  just  reverse. Sensor for  operation  mode shows  corect operation.

it is strange like maybe  I need  to uninstall and reinstall  the app again. Will try but  december  is  bussy :)

[2019-12-22 16:40] XattSPT commented on #4
@gooooba please check you unit. I think I stoped 5 minutes ago (with a bug on program) and I can not turn it on again... Mode has been set to off.

Sorry!

[2019-12-22 17:07] XattSPT commented on #4
@gooooba I do not know how te put operation mode in history... I'll think about it.

I've published a new test where operation mode and DHW has been corrected. Thank you very much for your reports. They are very very helpful.

I hope you read last mail... Stoping your HeatPump makes me feel so anxious. :(
I think it should be a good option to have your coordenates (phone, email,.. ) to notify you

[2019-12-22 17:35] gooooba commented on #4
@XattSPT unit is ON and currently heating. It happens when testing :)

[2019-12-22 19:50] gooooba commented on #4
@XattSPT now in the latest test version operation mode is wrong in sensors page and in triggers. At least DHW and Heating are reversed.

In advanced settings the operation mode is correct for heating. For DHW i didnt check in settings.

[2020-01-10 12:55] kajo23 opened #8 "Bug: When Operation Mode Change"
Using the Flow:
When > Operation Mode Changed to: HDW-Heating works opposite. It trigger when DHW Heating is finished instead of when starts.

Example. My DHW start to Heat at 08.49h. At this time trigger have to be ON. At 09.49h DHW Heating goes OFF then trigger goes ON and "Message" appear. I use message to debug.

BTW correct is DHW not HDW on the label.
Thank you for this app.

[2020-01-11 12:42] gooooba commented on #4
@XattSPT Could you add 'set heat water zone' to flow actions?

![Screenshot_20200111-133657_Homey](https://user-images.githubusercontent.com/3322016/72204431-233ad700-3478-11ea-8086-f9ab9ac30464.jpg)

[2020-01-11 19:01] XattSPT commented on #4
Done. Added this Flowcards:
 - Triggers: Hot Water Flow Change, Cold Water Flow Change
 - Conditions: Hot Water is bigger than, Cold Water is lower than
 - Actions: Set Heat Water, Set Cool Water

Also Tried to solve the problem on trigger mode...

New Test on: https://homey.app/a/com.mecloud/test/

[2020-01-11 19:06] XattSPT commented on #8
@kajo23

Tried to solve the problem on trigger mode... (not sure if it will work correctly) If not, it will be helpful for me if you can test if only trigger is the problem or any reports on conditions or actions with Operation Mode are working correctly.

You can Test it on: https://homey.app/a/com.mecloud/test/

Also Added this Flowcards:
 - Triggers: Hot Water Flow Change, Cold Water Flow Chang

[2020-01-11 19:31] kajo23 commented on #8
After installing app from link I see following bug.
Bug: target temperature set to 30C. I set it to correct one 24 but after few seconds it is back to 30C

[2020-01-11 19:37] XattSPT commented on #8
ouch...

I know it's anoying (it will break existing Flows) but... can you try to delete Device and Readd?

One more question, do you have one Zone or two?

[2020-01-11 19:40] kajo23 commented on #8
One zone

[2020-01-11 19:41] XattSPT commented on #8
@kajo23 if do not work readding device... install public version of app. I'll will investigate, this is really not expected (not touched anything on target temperature) :(

[2020-01-11 19:48] kajo23 commented on #8
After ReAdd device now it looks ok. I am testing now

[2020-01-11 19:58] kajo23 commented on #8
When I use flow to Set Heating Water Flow > parameter set correct in settings screen but do not update on the machine.

When i change this parameter from settings screen it updates immediately to machine

[2020-01-12 08:54] XattSPT commented on #8
@kajo23

Action: Set Heating Water Flow
When I use flow to Set Heating Water Flow > parameter set correct in settings screen but do not update on the machine.
When i change this parameter from settings screen it updates immediately to machine
**SOLVED will publish new test this afternoon**

Trigger: Inside Temp
When I use as trigger: Inside Temp test flow does not pass
**Need more info. I don't kn

[2020-01-12 09:48] XattSPT commented on #8
published new test.

[2020-01-12 10:07] kajo23 commented on #8
How to test? Again from link above? And ReAdd device i guess

[2020-01-12 10:12] XattSPT commented on #8
Only install from same link.

I think I’ve solved the problem on data, so no need to readd device.
Install and test only!

El dg, 12 gen 2020 a les 11:07 kajo23 <notifications@github.com> va
escriure:

[2020-01-12 10:39] kajo23 commented on #8
ACTION: Set Heating Water Flow - WORKS

CONDITION: Operation mode is equal: Heating. And it is Heating at the moment FALSE

I continue to test and update this post

[2020-01-12 18:00] XattSPT commented on #8
@kajo23 published new test. Hope all works now. (operationMode Flowcard (99% sure now it's correct)) and all other bugfixes.

Also your suggestion that I think logic.

I'll sent it to certification. No more time this week for hobbies :)

Write me if you discover any bug or suggestion.

[2020-01-13 07:28] kajo23 commented on #8
**ACTION:** Set Heating Water Flow - WORKS
**CONDITION:** OPERATION MODE IS EQUAL - WORKS

**TRIGGER:** Operation Mode Changed to **Heating** - Still works opposite when changed from Heating to DHW-Heating

**SUGGESTION 1:**
With TRIGGER: **Operation Mode Changed** and CONDITION: OPERATION MODE IS EQUAL can be verified desired MODE and this is enough to make a working flows.

Now my pump works lik

[2020-01-26 18:44] XattSPT commented on #8
@kajo23 all three suggestion applied on a new test.

If you can test and works fine, I'll will publish to public release.

Thanks for your help!

[2020-03-01 02:16] DavidDjerf opened #9 "Vertical swing always set to automatic"
Whatever I try to set vertical swing it become automatic. If set to something else (manually) and then turn off the heatpump, it will also set to automatic.

It would be great if it was possible to trigger the pre defined quick modes that can be set using the Mitsubishi Melcloud app.

[2020-03-05 05:37] #4 closed

[2020-03-05 05:38] #8 closed

[2020-03-05 06:51] kajo23 commented on #8
Hi.  Long time no replay from my side because I don't have time for tests.
I am still with Test App V2.0.5. I see that official app is same version. I am afraid to install latest oficial App from Homey.
I used plenty of rules to heat my house and i am Happy at the moment

BUG: Advanced Settings: Eco Hot Water (DHW) - "Yes to No" and "No to Yes' after Confirmation do NOT works. Return back to previ

[2020-03-29 15:02] kajo23 opened #10 "Additional Improvements"
Hi.  Long time no replay from my side because I don't have time for tests.
I am still with Test App V2.0.5. I see that official app is same version. I am afraid to install latest oficial App from Homey.
I used plenty of rules to heat my house and i am Happy at the moment

BUG: Advanced Settings: Eco Hot Water (DHW) - "Yes to No" and "No to Yes' after Confirmation do NOT works. Return back to previ

[2020-03-29 15:18] XattSPT commented on #10
I'll take a look on your report.

Unfortunately now I can't test with a Heat-pump. If you can share your unit
through Melcloud should be really helpful. I will not touch any
configuration on your unit, but I need to receive data from the unit to see
how works the app.

If you update to official App, I'm 99+% sure nothing will change, just
download app, without deleting test one and all will be ok

[2020-03-29 15:53] kajo23 commented on #10
I can share MELCloud. I can restrict it only to see what's going on. I need your email to do that.

[2020-03-29 15:54] XattSPT commented on #10
For me it’s enought with restriction.

Gerard.ricart@gmail.com

El dg, 29 març 2020 a les 17:53 kajo23 <notifications@github.com> va
escriure:

[2020-03-29 15:57] kajo23 commented on #10
BTW it is also good to remove start/stop of the machine on device click because of miss click. It is much better to go into screens and there to start/stop machine

[2020-03-29 16:02] XattSPT commented on #10
Received.

I'll take a look to all theese things, and I'll notify when I publish a new version for your test.

[2020-04-23 06:40] gooooba opened #11 "Heatpump adding, times out..."
I deleted the app and then reinstalled. Now I'm not finding any HeatPump. after entering email and credentials it goes to searching, then times outs.

[2020-04-24 14:58] ChristerSjo opened #12 "Set Water Tank Temp in flow"
I can´t find any possibility to set Water Tank Temp and Eco Hot Water (DHW) in a flow in Homey. Am I missing something?

[2020-05-03 10:16] XattSPT commented on #9
@DavidDjerf  which model do you have? how many options do you have?

I've tested on my device and I can't reproduce your error... any aditional information will be welcomed!

[2020-05-03 10:21] XattSPT commented on #11
Dear @gooooba. I've tried a couple of times and it works in my case... Please double check usr/pswd...
It is in my to-do list to improve login process to return problem system have on login process, but have no time theese days...
Do not hesitate to contact me if I can do anything for U...

PD: sorry for late response.

[2020-05-03 10:23] XattSPT commented on #12
Dear @ChristerSjo, probably not missing anything.

I've never implemented those functions, as testers who helped me told me this functions where not ususal to change.

I'll try to implement them, as soon I have some free time.

[2020-05-03 10:41] ChristerSjo commented on #12
Thanks,

I will use it during the winter and raise the temperature (for the hot water to last 24 hours) and then force it to heat the hot water when the electricity price is low at night. Then set the temperature back.

I have solar panels that heat the hot water in sunny weather in the summer. I could look at the weather forecast for the coming day and when it is going to be cloudy weather warm t

[2020-05-03 16:54] XattSPT commented on #12
Dear @ChristerSjo,

I've published a test app with flowcards you suggested.
You can try if you want. If something is not going correctly please tell me here.
You can try on your homey here:
    https://homey.app/es-es/app/com.mecloud/MelCloud/test/

P.D.: I've not a HP, so I can not do all test I want.

[2020-05-03 19:13] DavidDjerf commented on #9
The one I have is "MSZ-AP42VG(K)".

Let me know if there is something I can do to help.

/David

On Sun, 3 May 2020 at 12:16, Gerard Ricart <notifications@github.com> wrote:

[2020-05-04 06:55] ChristerSjo commented on #12
Hi,

Thank, yes now i can change Hot water temp, but in this version I can´t see the frequency in the app and in Insights it´s zero all the time (since I install this version yesterday).

Best regards,

Christer

Från: Gerard Ricart <notifications@github.com>
Skickat: den 3 maj 2020 18:55
Till: XattSPT/com.melcloud <com.melcloud@noreply.github.com>
Kopia: ChristerSjo <christer@sjostrom.biz>; Menti

[2020-05-04 07:19] gooooba commented on #11
Tried with correct or incorrect password it is the same....timeout in 30 seconds....

I guess I will need to wait for improved login process. When you have the time 😊

From: Gerard Ricart <notifications@github.com>
Sent: Sunday, 3 May 2020 12:21
To: XattSPT/com.melcloud <com.melcloud@noreply.github.com>
Cc: gooooba <dd@vklop.com>; Mention <mention@noreply.github.com>
Subject: Re: [XattSPT/com.melc

[2020-05-08 19:41] grolsch1986 opened #13 "AC unit koppelen werkt niet time out"
Ik krijg mij ac unit niet gekoppeld krijg elke keer time out.
Inloggegevens zijn correct wat kan ik hier aan doen

[2020-05-08 19:42] XattSPT commented on #11
@gooooba it there the posibility to share your melclud as a guest to me? I think I've discovered the problem, but i should need to test it. I have time this weekend, and I'll try to solve it.

I think there is some problem on detecting devices depending on building structure on Melcloud, but I need to check it.

Thanks in advance,

G.

[2020-05-08 19:44] XattSPT commented on #13
Dear @grolsch1986,

  I will try to solve it, some users having this problem.

   Which structure (building/floors/zones) do you have in melcloud?

Thanks,

G

[2020-05-08 19:48] grolsch1986 commented on #13
Ik heb geen gebouw zones en vloeren ingesteld

[2020-05-08 19:51] grolsch1986 commented on #13
![Screenshot_20200508_214945_mitsubishi wifi android mitsubishiwifiapp](https://user-images.githubusercontent.com/37909395/81443587-f7a1d200-9175-11ea-8ae9-7bd201885edc.jpg)

[2020-05-08 19:52] XattSPT commented on #13
Thanks.

If you can invite me as guest on your melcloud (as guest only with read permision) should be very helpful for me to try to solve.

My email, is gerard.ricart@gmail.com

[2020-05-08 19:56] grolsch1986 commented on #13
Is zal is even kijken als ik dat kan vinden

[2020-05-08 19:58] XattSPT commented on #13
El dv, 8 maig 2020 a les 21:56 grolsch1986 <notifications@github.com> va
escriure:

[2020-05-08 19:59] grolsch1986 commented on #13
Als goed is heb je een mail

[2020-05-08 20:01] XattSPT commented on #13
Perfect, thank you.

I’ll check and come back to you in a couple of days!!

El dv, 8 maig 2020 a les 22:00 grolsch1986 <notifications@github.com> va
escriure:

[2020-05-08 20:02] grolsch1986 commented on #13
Suc6 en dank je

[2020-05-09 15:44] XattSPT commented on #13
try this app with improved login process...

https://homey.app/a/com.mecloud/test/

I can add your device on homey, so probably the problem is on user/psswd.

[2020-05-09 15:46] XattSPT commented on #12
@ChristerSjo I've published a new version https://homey.app/a/com.mecloud/test/

Hope this solve missing existing parts :)

any additional coments are welcomed.

One question: in your opinion, Fored Water should be on "buttons" area or better on "settings"??

[2020-05-09 15:47] XattSPT commented on #11
@gooooba I've published a test version with improved login process

https://homey.app/a/com.mecloud/test/

[2020-05-09 17:50] grolsch1986 commented on #13
Perfect het is in 1 keer gelukt super service

[2020-05-09 20:43] XattSPT commented on #13
You're welcome.

Do not forget to remove me as guest user.

If you want to review your valoration on homey appstore, feel free to do it ;)

[2020-05-12 05:30] #13 closed

[2020-05-14 03:25] ChristerSjo commented on #12
Hi,

Now it seems to work 😊

In my opinion Force water should be on “button” area.

Have a good day!

/Christer

Från: Gerard Ricart <notifications@github.com>
Skickat: den 9 maj 2020 17:47
Till: XattSPT/com.melcloud <com.melcloud@noreply.github.com>
Kopia: ChristerSjo <christer@sjostrom.biz>; Mention <mention@noreply.github.com>
Ämne: Re: [XattSPT/com.melcloud] Set Water Tank Temp in flow (#12)

[2020-05-25 09:32] kajo23 commented on #10
Reminder. I see new update but suggestions I made were not done.

[2020-05-25 09:50] johngrinders opened #14 "Independent inclusion of the conditioner"
Good day.
Previously, the air conditioner was set to automatic operation. Up to the fact that it was Flow that does not allow the air conditioner to turn on when the windows are open.
Today, after an automatic upgrade to v2.0.9 with open windows, I find that a message begins to arrive at a regular frequency of 2 minutes exactly about an attempt to turn on the air conditioning, which in principle s

[2020-05-25 17:00] XattSPT commented on #10
@kajo23 I've implemented one (SUGGESTION: add DEFROST, maybe also rest of the operation modes.)

I have the rest on  mind but have little time theese days. I'll do my best to implement, but some of them needs to remake some parts and have to do it with time.

Published upgrade was to update basically some malfuncion on AC devices.

Thanks for your patience,

G.

[2020-05-25 17:01] #12 closed

[2020-05-25 17:01] XattSPT commented on #11
@gooooba can u add devices now?

[2020-05-25 17:06] XattSPT commented on #14
Thanks, I'll take a look on the report.

I've corrected a bug on cold mode that on/off function was not showing correct status. I'll take a look on auto also if I broke anything...

This bug is on homey status (on/off) but does not turn your device on or off.

Try to publish a test version on weekend...

[2020-05-29 07:26] JohanKSE opened #15 "Mitsubishi EF35 connection problems"
Hi,

I'm trying to use the app with my EF35 but it doesn't matter what I do, it won't work. I log in to the app with the same mail/pw as I use for the MelCloud and it start searching for devices. After 30000ms I get a time out and that's it.

I'm adding it as an AC device (also tried Heatpump), I have uninstalled and installed the app again. I've tested with the pump running/not running, being log

[2020-05-30 07:51] XattSPT commented on #15
hi @JohanKSE,

I list things you can try:

1) if you have devices structured in buildings, floors or zones in Melcloud app, change this configuration and try to add again on homey. I could not test every configuration, so it's possible your configuration fails. easy one is no buildings, no floors and no zones.

2) try to change your melcoud password and then try again on Homey App.

3) in Melcloud

[2020-05-30 08:02] JohanKSE commented on #15
Thanks, I will try this out later to day and let you know how it goes.

Thanks for excellent help!

Mvh/Johan

Johan Karlson
Länsmansvägen 9, 446 32 Älvängen, Sweden.
Tel: 0707-86 59 10.
E-post: johan@karlson.in

Den lör 30 maj 2020 09:51Gerard Ricart <notifications@github.com> skrev:

[2020-05-30 16:23] JohanKSE commented on #15
Hi, sorry to have to bother you again but I'm still stuck. What I've tested
today:

Added presets (figured maybe you iterate through them after you found a
device)
Added missing info for the outside unit
Created floor and zone and shifted it between (default it was just in the
building, se pic attached.).
Switched language to English (originally it was Swedish so thought our åäö
could have messed

[2020-05-30 18:15] XattSPT commented on #15
Send me an invitation on Melcloud or your usr/pswd at gerard.ricart@gmail.com

[2020-05-30 21:41] johngrinders commented on #14
Greetings.  As previously said, flow is configured when the air conditioner cannot be turned on when the windows are closed.  And over the past couple of days I began to notice that the air conditioner works with the windows open for some reason.  Now I watched and realized that not only the status is changing in the plugin, but it really turns on the air conditioner, even with my flow in which wh

[2020-05-30 22:09] XattSPT commented on #14
I think i found the bug. Are U using auto mode and off mode, right?

I’ll try to solve it this weekend.

Sorry for inconvenience!

If I do not found a solution, I’ll publish a test with old config to avoid
problems.

El ds, 30 maig 2020 a les 23:41 johngrinders <notifications@github.com> va
escriure:

[2020-05-31 03:53] johngrinders commented on #14
Hey.  Thank you for the melcloud plugin !!!  I use the modes from “set full mode” and only ventilation, cooling and heating.  I have never used automatic mode before, neither in manual mode nor through the plugin.  Now everything has become strange at all, I see that the air conditioner in homey is off, I go into the air conditioner itself, the power button is on, the fan mode is selected, and in

[2020-05-31 08:44] #15 closed

[2020-05-31 09:27] XattSPT commented on #9
Hi @DavidDjerf i've published a test version at:

https://homey.app/a/com.mecloud/test/

can you try if it solves the problem?

If not, can you do a couple of things for me?
1) set your device update time (on settings/advanced settings) to 1 minute.
2) after 5-10 minutes, send me a diagnostic report on More/Applications/Melcloud then settings and send diagnostic report?

thanks in advance.

[2020-05-31 09:29] XattSPT commented on #14
@johngrinders

I've published a new test version on https://homey.app/a/com.mecloud/test/

I think i found the bug, one character was missing, grrrr!!! Hope this works.

[2020-05-31 13:18] johngrinders commented on #14
Already as 5 hours all Flow are turned off, the air conditioning device in homey itself changes its state every 5 minutes, without actually turning on the air conditioner.  The fact that earlier from such inclusions it was incorrect to work out the flow, therefore, this led to the inclusion of the air conditioner.

[2020-05-31 13:22] XattSPT commented on #14
Can you send me a diagnostic report? I’ve added some console log to
investigate further.

El dg, 31 maig 2020 a les 15:18 johngrinders <notifications@github.com> va
escriure:

[2020-05-31 14:43] johngrinders commented on #14
Hey. Installed a test version, everything began to work fine. Now the status itself does not change, like 1.5 hours. Now I’ll test with my previously written Flow. Thank you so much!!!

[2020-05-31 14:44] johngrinders commented on #14
I'll test a couple more days, if there are any problems, unsubscribe.

[2020-05-31 14:48] XattSPT commented on #14
Thanks for all of your bug reports, tests and collaboration.

Happy to see now it works!

[2020-06-01 14:01] johngrinders commented on #14
Today I discovered an independent change in set full mode. Namely, if through the files I turn off the air conditioner from FAN mode, then after turning off the air conditioner, namely, setting the set full mode to OFF, after 5 minutes the FAN mode is set. And this happens with any mode that was turned on before shutting down. In fact, this affects some flow, in which the set full mode state is de

[2020-06-02 18:11] DavidDjerf commented on #9
I installed the beta version and restarted the app, set update to 1 minutes.
If I run my flow that only set "vertical swing" to middle top, the horisontal swing turns into auto.
Also, if I run the flow that sets horisontal swin g to middle left, it also sets the vertical swing to middle top, and horisontal swing turns into auto.

I sent you a diagnostics report: e2d44f4e-7ed5-4284-85a2-23f7ceded4a

[2020-06-02 19:19] XattSPT commented on #9
Thanks, I see the bug. I’ll try to publish a test tomorrow o thursday to
check if solves the error.

I do not have horitzontal options so I’ve not test!

Problems in vertical are also related to same bug.

Thanks again for your report! Has been very fruitful!

El dt, 2 juny 2020 a les 20:11 DavidDjerf <notifications@github.com> va
escriure:

[2020-06-07 10:33] XattSPT commented on #9
@DavidDjerf I've published a new test.

I think I've solved the bug, but my device is always set to middle on horizontal position, I think is coused because I do not have this option.

If you can try and tell me how it works.

Vertical movement does not interfere now in horizontal settings....

Thanks in advance,

G.

[2020-06-07 10:35] XattSPT commented on #14
@johngrinders  I've published a new test on
   https://homey.app/a/com.mecloud/test/
can you try it? I've made some changes on flows, I think this was the problem. Manual changes seems to work correctly, but I'm sure your flows will take app to next level of testing ;)

Thanks in advance,

G.

[2020-06-07 10:37] XattSPT commented on #11
No news... I suppose you can add them now.

If not, one question... have you changed your mobile? some users having problems caused mainly by their phone, if they try with other phone it works...

[2020-06-08 11:37] johngrinders commented on #14
Thank you so much!!! Yesterday I installed a new test version. But for some reason, after turning off the air conditioner, namely, setting the "Full termostate mode" to OFF (I have all the flow switched to this mode when I turn it off), after a few minutes, the last operating mode of the COOL or FAN air conditioner is again set on its own, which was previously turned on without turning on the air

[2020-06-08 11:37] johngrinders commented on #14
Thank you so much!!! Yesterday I installed a new test version. But for some reason, after turning off the air conditioner, namely, setting the "Full termostate mode" to OFF (I have all the flow switched to this mode when I turn it off), after a few minutes, the last operating mode of the COOL or FAN air conditioner is again set on its own, which was previously turned on without turning on the air

[2020-06-12 10:38] ChristerSjo opened #17 "Water Tank Temparature"
Water Tank Temperature in a insight is showing max 60 degrees C even if the temp is above. I have solar panels warming up the water in the summer and I reach +70 degrees a sunny day in 500 liters of water.

In the MelCloud app the correct temp are displayed

[2020-06-16 17:36] DavidDjerf commented on #9
I was about tro reply some test result to you but they results changes so I have to do a better test logg to see what is going on. I will also try to increase the time between commands to see that its not a flooding issue. Ill get back to you ASAP!

[2020-06-16 21:08] DavidDjerf commented on #9
Here is my findings:
![melcloud_debug](https://user-images.githubusercontent.com/39162087/84827694-2046a280-b025-11ea-8879-4897b61470a5.png)

Btw, bottom is spelled incorrectly, "botom" in the app. Must be a typo.

[2020-06-29 14:32] johngrinders commented on #14
Hey. Still experiencing problems with spontaneous inclusion of air conditioning. This moment the mode changes even when the air conditioner is off. Is it possible to somehow fix a spontaneous regime change? I have all Flow turn off the air conditioner and stand in OFF mode, but in fact after 2-5 minutes the mode switches to another independently.
Thank!!!

[2020-06-29 15:30] XattSPT commented on #14
"off mode" should not be used, you should use on/off function to turn off
the unit.

If you watch off mode it is not available on Melcloud app, so it gives some
problems, use on/off to turn off unit.

Mode "maintains the memory" of last mode in order to turn it on an off and
maintain desired mode as Melcloud does.

I think the problem is in your flows, if you share them we can try to find
a soluti

[2020-06-29 20:41] kajo23 commented on #10
Hi today I tried to switch from heating to cooling but machine goes back to heating after 2 min. I stop app and machine is working fine.

[2020-06-29 20:44] XattSPT commented on #10
On which version are you?

El dl, 29 juny 2020 a les 22:41 kajo23 <notifications@github.com> va
escriure:

[2020-06-29 20:47] kajo23 commented on #10
2.0.9 Latest

[2020-06-29 20:50] XattSPT commented on #10
On test version this issue has been already solved. Thanks for your report.

Hope to publish soon, just finishing some adjustments, but tou are free to
use test one.

El dl, 29 juny 2020 a les 22:47 kajo23 <notifications@github.com> va
escriure:

[2020-06-29 21:17] kajo23 commented on #10
I have installed version 2.0.11

When I set:
ADVANCED SETTINGS > OPERATION MODE > Cooling is set but does not send command to server.

[2020-07-06 16:23] kajo23 commented on #10
Shell you make an update
App set pump to Heating every time but I need Cooling at this time

[2020-07-06 16:48] kajo23 commented on #10
You miss to add following:
OperationModeZone1 and OperationModeZone2
   0 - Heating Room
   1 - Heating Flow
   2 - Heating Curve
   3 - Cooling Room
   4 - Cooling Flow

EcoHotWater
   1 - On (enable)
   2 - Off (disable)

Hope this will help you a lot. Please update to test.

[2020-09-03 12:19] XattSPT commented on #11
1)Today seems melcloud is down. Are Melcloud app working?

2) some users have solved using other movile/tablet. It seems do not work
with some devices but it is only a suppose I can not reproduce this error.
Can you try with other device?

El dj, 3 set 2020 a les 14:15 pontussandgren <notifications@github.com> va
escriure:

[2020-09-03 12:31] pontussandgren commented on #11
Thanks for your prompt answer :-). I have got my heatpumps installed yesterday and the MelCloud app worked this morning but no longer. As for now I assume it is related to that.

[2020-09-03 18:58] TheBoink opened #18 "On or Off status doesn’t update in Homey"
When switching on or off the airco using a remote control, the status doesn’t change in Homey.

Resulting that flows that should trigger on the airco status don’t start.

[2020-09-03 19:02] XattSPT commented on #18
@TheBoink today melcloud is on maintenence and system are not working so well. Have u got issues on past with this?

[2020-09-03 19:06] TheBoink commented on #18
This is the first time I looked into this and noticed the status in Homey is not updating.

I’ll try it tomorrow again :)

Thanks for your fast reply!

Met vriendelijke groet,
Arthur.

On 3 Sep 2020, at 21:03, Gerard Ricart <notifications@github.com> wrote:

﻿

@TheBoink<https://github.com/TheBoink> today melcloud is on maintenence and system are not working so well. Have u got issues on past with

[2020-09-08 10:12] TheBoink commented on #18
Hi,

I’m still seeing differences in on/off status.
The airco’s are all switched off. But I see this:

[cid:CFFF5479-7E93-4888-B43C-CF3816516089-L0-001][cid:A5AD6D93-7FDE-4B33-BDC3-E506055790F6-L0-001]

What can I do to help?

Met vriendelijke groet,
Arthur.

On 3 Sep 2020, at 21:07, Gerard Ricart <notifications@github.com> wrote:

﻿

@TheBoink<https://github.com/TheBoink> check Melcloud app if wo

[2020-09-21 12:57] foni73 commented on #10
Hi

I can't find any flowcard for AC room temperature. Will that be available in the future?

[2020-09-21 13:01] XattSPT commented on #10
@foni73 I don't undestand your question. Flowcards for temperature (trigger, condition and action) are available... What kind of flowcards are you looking for?

[2020-09-21 13:04] XattSPT commented on #10
@foni73 "temperature" is room temperature. Set temperature is device set temperature. I think you are looking for temperature. this is available on condition and trigger. Obiously is not available on action.

[2020-09-21 13:21] foni73 commented on #10
I am new to Homey, so maybe looking in the wrong place, but I can't seem to fin condition or trigger for the actual temperature in the room. There is a card for temperature change
![image](https://user-images.githubusercontent.com/71647230/93771152-6c554480-fc1d-11ea-90ce-7a38026094c9.png)
And fanspeed etc.
![image](https://user-images.githubusercontent.com/71647230/93771571-fc938980-fc1d-11ea-88f

[2020-09-21 13:26] foni73 commented on #10
Would like it to use it like if temp > 25 cool. If temp < 18 heat. Instead of using the AC auto mode.

[2020-09-30 18:05] ketillund opened #19 "Not possible to change horizontal swing"
I have a MSZ-LN35VGW (Kaiteki 6600)

When I try to change the position of the horizontal swing from a flow, nothing happens. However, what do happen is that the two vertical swings are aligned (if they are in different positions).
Adjusting the vertical swing from a flow works fine.

[2020-09-30 18:59] XattSPT commented on #19
Please try test version, I’ve made some adjustments on horizontal swing.

Any feedback will be much appreciated.

El dc, 30 set 2020 a les 20:05 ketillund <notifications@github.com> va
escriure:

[2020-10-01 06:43] ketillund commented on #19
How do I install the test version?

[2020-10-01 08:11] XattSPT commented on #19
https://homey.app/es-es/app/com.mecloud/MelCloud/test/

[2020-10-01 08:47] ketillund commented on #19
Thanks!
Can I have both the test version and the regular version installed at the same time, or should i uninstall the regular version?

[2020-10-01 08:49] XattSPT commented on #19
U can have or the other.

If test version give U any problem, you can install previous one.

[2020-10-01 17:28] ketillund commented on #19
The horizontal swing still don't work with the test version.
In addition, when I had it in ventilation mode, and used a flow to change the horizontal swing, the heat pump turned itself off!

[2020-10-30 18:00] langfjord commented on #11
Having the same issue. Been checking username/password and trying the new test app. I have access to Melcloud app without problem and can control the heat pump from there. Trying to add Heat Pump as new device in Homey results in the same timeout message as above. The new app did now make any difference for me. Says version 2.0.11. Will retry tomorrow in case this is an issue with newly registered

[2020-10-30 18:49] XattSPT commented on #11
Try to add from different device (phone). Some phones seems to have some
bug.

I’m stil investigating on this issue...

Thanks for tour report!

El dv, 30 oct 2020 a les 19:00 langfjord <notifications@github.com> va
escriure:

[2020-11-23 21:03] espenjohannessen opened #20 "Left and right vertical vane (swing)"
Just to set the scene: I have a Kaiteki 6600 mounted in between two floors, in the stairway, and use the two separate vertical vanes to direct air both up and down. When the temperature on the main floor is above 21 degrees I would like the hot airstream to be split between the two floors (left vane up, right vane down), but when the temperature on the main floor drops below 21 degrees I would lik

[2020-11-23 21:09] XattSPT commented on #20
Hi @espenjohannessen if you want to share ur device (melcloud) with me I can try to investigate which data is on theese type of devices and if it is possible to control separately from melcloud.

If you are interested I will share my email with you and you can add me as a guest on melcloud app.

I can try to update the app if data is available.

[2020-11-23 21:16] espenjohannessen commented on #20
Sure, just send me your email and I'll add you in MelCloud.

[2020-11-23 21:18] espenjohannessen commented on #20
![image](https://user-images.githubusercontent.com/3808959/100016367-97087880-2dd9-11eb-81bf-164fded9097a.png)

[2020-11-23 21:20] XattSPT commented on #20
@espenjohannessen gerard.ricart@gmail.com

[2020-11-23 21:22] espenjohannessen commented on #20
Based on the UI in MelCloud I suspect it's not supported, but I'll still add you so you can take a look!

[2020-11-23 21:24] XattSPT commented on #20
Sure! I’ll take a look and come back to you.

There are some hide functions on melcloud that depends on device, so better to take a look before to discard!

[2020-11-23 21:33] espenjohannessen commented on #20
Awesome, thanks! I'll also add a picture of the remote, where you can see the buttons for configuring the horizontal vane as one and the vertical as left and right.

[2020-11-23 21:41] espenjohannessen commented on #20
![2020-11-23 22 31 37](https://user-images.githubusercontent.com/3808959/100018653-13e92180-2ddd-11eb-95a9-981f9d30f757.jpg)

[2020-11-23 22:25] espenjohannessen commented on #20
I've looked through the data returned by the API, and also a couple of other integrations and forum posts I've found, and it does unfortunately look like there's currently no support for left and right vertical vanes in MelCloud. There is only one property associated with the vertical vane, "VaneVertical", and it can only be set between 0 (auto), 1-6 (angle) and 7 (swing).

I sent an email to the

[2020-11-24 01:39] espenjohannessen commented on #20
I should also mention that during my testing I've found a couple of issues:

* VaneHorizontal is not correctly mapped and it's value gets overwritten on each device update if it's set to 8 or 12. It should go between 0 (auto), 1-5 (angles), 8 (50/50 split left and right) and 12 (swing)

* VaneVertical seems to always show the left vane, but update both, so any changes I make to the right vane with

[2020-11-24 02:39] gooooba commented on #11
Hi, still not working. I can share guest access if you still like to test

[2020-11-24 06:14] XattSPT commented on #11
Dear @gooooba received. I’ll do a couple of tests on weekend.

[2020-11-27 11:09] baguesa opened #22 "Heat pump horizontal swing not working"
Hi,
First, great app. Much appreciated! :)
Second. One bug that annoys me now in the winter when its colder. The horizontal swing doesn't work the way I want it to.
I'm using Homey Pro (Early 2019) 4.2.0. App 6.2.0.652. | Melcloud 2.0.9 | Mitsubishi MSZ-LN35VG
Thanks for any help! Happy to assist you with logs, testing and so on. Cheers!

Attachments below:
![homey_swing](https://user-images.githu

[2020-11-28 13:07] #14 closed

[2020-11-28 17:17] XattSPT commented on #20
dear @espenjohannessen, thanks for your corrections, I'll be finishing some adjustements and will publish the next version.

regarding Vane vertical, I've been cheching data available and there is no data regarding this funcion.

If you see anyone else ho has implemented, please tell me and we can copy that if it's available :D

[2020-11-28 17:19] XattSPT commented on #22
Dear @baguesa thanks for your support!

I'll be publishing a new version in a couple of days and hope horizontal swing will work ok.

[2020-11-28 17:19] XattSPT commented on #19
It will be published a new version in a couple of days (after approval) and hope works correct!

[2020-11-28 17:21] XattSPT commented on #17
Thanks for your comment. It has been implented and will be available on next version.

Sorry for late reply and appliance.

Regards,

G.

[2020-11-28 17:25] XattSPT commented on #11
@gooooba I can add it without any problem...

Have you tried to add throught other phone?

Or you can try to do through https://developer.athom.com/

do there and Login. Go Tools and Pairing.
Add a Melcloud device and you should see it there

![image](https://user-images.githubusercontent.com/38588531/100521892-e74f5400-31a6-11eb-8c12-00d03d4b5b17.png)

Tell me if any of theese option works.

[2020-11-28 17:26] XattSPT commented on #9
It will be a new version in a copuple of days.

Hope this should be solved.

Thanks.

[2020-11-28 17:39] ChristerSjo commented on #17
Grate! Can you also make the degrees show increments of 0,5?

[2020-11-28 17:42] baguesa commented on #22
Great news! Looking forward to test the new version.

[2020-11-28 17:45] XattSPT commented on #17
Which degrees?

I see them on .5 scheme

![15E7410B-7178-40BA-94AD-E2954408C2E7](https://user-images.githubusercontent.com/38588531/100522281-cf2d0400-31a9-11eb-9d3b-30a8e6123fad.jpeg)

[2020-11-28 17:53] XattSPT commented on #22
you can test there https://homey.app/es-es/app/com.mecloud/MelCloud/test/

[2020-11-28 17:55] ChristerSjo commented on #17
In the insights you only see the hole degrees.

[2020-11-28 18:35] baguesa commented on #22
Horizontal swing working for me in 2.0.12. Great success. Thank you!

[2020-11-28 19:08] gooooba commented on #11
Via developer page done without a problem...I guess there is a problem with my phone.Any idea what could be wrong. I did try uninstall/reinststall allready.The important thing is that now it is added 😊Br,DusanPoslano iz naprave Galaxy
-------- Izvirno sporočilo --------Od: Gerard Ricart <notifications@github.com> Datum: 28. 11. 20  18:25  (GMT+01:00) Za: "XattSPT/com.melcloud" <com.melcloud@norepl

[2020-11-28 19:52] XattSPT commented on #11
Hope to hear that. It seems that some phones are not correctly working.

For next users, which phone do u have?

Pd: do not forget to remove invitation on melcloud.

[2020-11-28 19:53] #22 closed

[2020-11-28 19:53] #19 closed

[2020-11-28 20:12] gooooba commented on #11
Samsung S9.The adding of devices in melcloud app used to work with no problem on this phone... so I guess it is not a phone itself. Maybe factory reset would help... but to much work 😁Poslano iz naprave Galaxy
-------- Izvirno sporočilo --------Od: Gerard Ricart <notifications@github.com> Datum: 28. 11. 20  20:53  (GMT+01:00) Za: "XattSPT/com.melcloud" <com.melcloud@noreply.github.com> Kp: gooooba

[2020-11-28 22:05] #11 closed

[2020-11-28 22:07] XattSPT commented on #20
untill publishing, you can try a test version there:

https://homey.app/a/com.mecloud/test/

[2020-11-29 10:03] ketillund commented on #20
I was in contact with the Norwegian customer support in the beginning of August, and I actually got a response! The reason for contacting them was that the MelCloud app only allows you to control the horizontal vanes individually, not the vertical ones, and I asked if this would be added to the app soon. The response I got was this (my translation):

"It will become possible to control the vertica

[2020-11-30 10:52] espenjohannessen commented on #20
@ketillund I got a similar response myself, from Daniel waaay outside office hours, so I guess I owe the Norwegian customer support and Daniel in particular an apology ;D

Hopefully the latest changes, including the pull request that Gerard merged a couple of days ago, should make the current functionality in MelCloud reliably available through Homey.

I currently have 4 flows running related to t

[2020-11-30 11:15] espenjohannessen commented on #20
@XattSPT I haven't seen anyone implement separate vertical vanes, and MelCloud has also confirmed that it's not currently supported, so I think we'll have to let that go for now.

One other thing that caught my attention when comparing your code with the other repos I've found is that everyone else are only changing ONE property at the time and are using different EffectiveFlags for the different

[2020-11-30 12:13] XattSPT commented on #20
@espenjohannessen , I sent all parameters together and use efeectiveflags to check all info.

let me explain:
 - if you change on/off efectiveflag is 1
 - if you change mode, efectiveflag is 2 (so they sent 1 for on/off and 2 for mode), read 3

so effectiveflags are comulative.

Other way is make Melcloud check all parameters (bigger cumulative effectiveflags number), and melcloud update only info

[2020-11-30 12:23] espenjohannessen commented on #20
@XattSPT Ah, I see and agree! That sounds a lot more efficient, but are you sure setting effectiveFlags to 31 covers all cases? Since VaneHorizontalDirection uses 256 I would assume that it's not catched when always using 31? I'll do some testing with the new version you've just published later over the next few days and report my findings back to you : )

[2020-11-30 18:34] XattSPT commented on #20
I saw that 01xF updates all (al least as I can see in other develpments)... but my device do not have moving Hvanes :D so I could not try it at all...

If you have and can test it will be best way to be sure.

If do not works properly I suggest to use 256+31 if it works...

Thanks in advance!

[2020-12-02 08:06] espenjohannessen commented on #20
@XattSPT It's definitely not working as expected and after A LOT of testing through Postman I still have no idea exactly what's going on. At first it looks like the change has taken effect when I run "/User/ListDevices" or"/Device/Get" immediately after "/Device/SetAta", but as soon as the NextCommunication datetime has passed, one or more of the values gets reset.

I did notice this comment in th

[2020-12-12 17:37] #9 closed

[2020-12-12 17:38] #18 closed

[2020-12-12 17:38] #10 closed

[2021-01-15 15:36] Norjolo opened #23 "Power usage Mitsubishi AC"
Hi.

Is it possible to get the power usage from an Mitsubishi AC in Athom Homey via MelCloud and your app or is it something you have planned?

Br
Jonny

[2021-01-16 10:34] lawrenz89 opened #24 "Waterflow on Ecodan?"
You have made a great app. I got a air-to-water-heatpump (Ecodan) and at the bottom in the app I can see current frequency which is nice.

Since you can display current frequency in the app (which also is found when I enter code 016 on my Ecodan), I was wondering if you can display the waterflow as well (witch is found when I enter code 540 on my Ecodan)? This gives me an indication on when I need

[2021-08-04 08:27] Pierre89ja opened #25 "Multisplit system with two pumps"
Hi!
First of all, thanks for the good app.

Unfortunately when connecting to the app your application will only find one out of two pumps that I have at home. I've tried to restart, reinstall etc. But the remains only finding one pump. How can we solve it?

[2021-08-04 08:29] Pierre89ja commented on #25
![Screenshot_20210804-102820_MELCloud](https://user-images.githubusercontent.com/88427574/128148769-99ff8e22-d238-48c6-a5ea-f9a564700337.png)
![Screenshot_20210804-102801_Homey](https://user-images.githubusercontent.com/88427574/128148771-c4d2ba19-cc57-4c41-b923-6e36bfb6e308.png)

[2021-08-04 08:30] XattSPT commented on #25
Try to put them on same floor, sometimes it doesn’t work if they are on
different floor on melcloud app.

If not work we can think on other solutions.

El dc, 4 ag 2021 a les 10:27 Pierre89ja ***@***.***> va
escriure:

[2021-08-04 08:59] Pierre89ja commented on #25
Worked perfectly, thanks!

Med vänliga hälsningar

Pierre Jarlskog

Kundvårds- & sponsoransvarig

Direkt +46 46 31 20 44<tel:+4646312044>

Växel +46 46 31 20 20<tel:+4646312020>

www.eurofinans.se<http://www.eurofinans.se/>

________________________________
From: Gerard Ricart ***@***.***>
Sent: Wednesday, August 4, 2021 10:30:37 AM
To: XattSPT/com.melcloud ***@***.***>
Cc: Pierre Jarlskog ***@***

[2021-09-07 06:28] Datamupp opened #26 "Forced Hotwater not triggered from flow"
Hi Gerard!  I found the problem with the forced hotwater not triggered from a flow.

In MelCloudHPDriver.js on the block starting at line 173 there was a couple of mixed up = and ==.

I also found another bug on line 168 that caused the actual temperature of the DHW to temporary drop when setting the max temp of the tank. I removed that line. If you update the app I would be glad if you also add t

[2021-10-11 17:35] dozepih commented on #23
I have the same question

[2021-12-01 16:21] whvanderpost opened #27 "Sync with Homey seems to freeze"
Hi!
I've got a split unit that I control with the Mitsubishi MelCloud app (either on iOS or Windows). In Homey the MelCloud app does not seem to update the current state of the aircon units. The update time is set to 15 minutes, and when you use the Homey app to switch the unit on/off or change the temperature it keeps syncing for about a day and then stops.
Is this some kind of background/sleep m

[2021-12-06 16:56] osauser commented on #23
I see other smart home systems have plugins that provide the (estimated) power consumption through a more recent/detailed API, so hopefully this is something that can be implemented for Homey app.. +1 on the request!

[2021-12-08 14:48] MTRKhn commented on #27
Same problem here. My heat pump ransomly stops reporting both hot and cold water temperature. Frequency is also not reported randomly. Therefore numbers are OK in the MelCloud app. Only the Homey integration got problems

[2021-12-08 15:36] XattSPT commented on #27
I’ll take a look on that. I don’t know if recent update on melcoud units
have changed something. Thanks both for your report.

El dc, 8 des 2021 a les 15:48 MTRKhn ***@***.***> va escriure:

[2021-12-08 15:45] whvanderpost commented on #27
I must admit that I've had these Mitsubishi units since May this year and never got to reporting the issue, but it has been playing since the beginning so it won't be related to any recent updates.

[2021-12-08 15:49] XattSPT commented on #27
Ok thanks for reporting.

One aditional question, which refresh time you got on advance setup? I
think problems are when this value is less than 2 or 3 minutes.

I’ll take a look and report to you any update.

El dc, 8 des 2021 a les 16:45 whvanderpost ***@***.***> va
escriure:

[2021-12-08 15:50] whvanderpost commented on #27
It's on 15 minutes.

[2021-12-08 15:56] MTRKhn commented on #27
If i remember correctly, there was an update of the firmware three weeks ago, the MelCloud app has a new "refresh" button and i assume it started with this update.

I can send you a diag report if needed.

[2021-12-09 08:31] whvanderpost commented on #27
I've got the release notes of this new version.
![image](https://user-images.githubusercontent.com/2821657/145361181-ca21419f-533d-4a01-b29a-7a1e6d69dd1c.png)

[2021-12-19 20:22] Zeeker86 opened #28 "Missing the "fan" option in mode-selection."
I use the Homey Pro to manage my smarthome and have connected my Melcloud to the system.
However, I wanted to change the setting in the heating-pump from "Heating" to "Fan" when it reached a temperature.
We use wood to heat the house when the electricity is priced high and want the fan to distribute the heat.
That feature is not in Homey. I have it in the MelCloud app, but that app have no flows.

[2021-12-19 20:27] XattSPT commented on #28
Fan mode is available on flows, please double check.

I understand you have not an ecodan, right?

El dg, 19 des 2021 a les 21:22 Zeeker86 ***@***.***> va
escriure:

[2021-12-20 09:09] Zeeker86 commented on #28
You are right.
I missed the card "Set full mode". Sorry about that.
Now it works fine.

I have a Mitsubishi Kaiteki 6600

[2022-01-11 08:15] Danielsenba opened #29 "Homey Bridge (beta)"
Will this become avalible for Homey bridge?

[2022-01-17 11:44] OlivierZal opened #30 "ACs cannot be fully controlled on Apple Home through HomeyKit"
Hi,

I use HomeyKit to control my AC (from MELCloud app) through Apple Home, but many features which are available in Homey does not appear in Apple Home: e.g. although I can set the temperature and the heat/cool mode, I cannot set the fan power or vertical/horizontal position.

According to HomeyKit's developer, it's because MELCloud uses "custom capabilities". Is it possible to use the standard

[2022-01-17 12:53] XattSPT commented on #30
Hi,

Limitation is on Apple Homekit. It not has standard capabilities for fan
power, postion, … on an AC device, so it can not be sent to apple home.

Regards,

G.

El dl, 17 gen 2022 a les 12:44 Olivier Zalmanski ***@***.***>
va escriure:

[2022-01-17 15:58] OlivierZal commented on #30
Thanks for the very quick answer.

I confess I'm not an expert in Apple HomeKit, but doesn't this page https://github.com/mongoose-os-apps/mel-ac-homekit (in particular videos in it) seem to indicate there can be a way to set those features?

[2022-01-17 19:25] XattSPT commented on #30
It seems it can be done.

My Melcloud App uses all this information and connect melcloud to homey
with all theese data and more.

All data is available on Homey, if you want to see it on Homekit you should
check with app homey-homekit developer. This is not on my app scope.

El dl, 17 gen 2022 a les 16:58 Olivier Zalmanski ***@***.***>
va escriure:

[2022-01-18 08:29] OlivierZal commented on #30
I understand.

[2022-01-22 10:16] Katatonz commented on #24
Bump on this one, I have access to the code list for more information with regards to outdoor unit. So one can evaluate gas temperatures and fan speeds. Would be nice to have the possibility to ask for different values from machine through you app as it is far better than mitsubishi own app

[2022-01-22 10:25] Katatonz opened #31 "Show chosen heat mode"
I see that the app shows the same as melcloud when it comes to heat mode. I have a ecodan air /water unit and use heat curve in relation to outdoor temperature. The app and melcloud show room temperature even when that mode is not chosen. Could you rather show target temperature and actual temperature instead. Gives a better indication if the machine struggles to reach target. Would also be nice t

[2022-01-22 20:06] Zeeker86 opened #32 "Powerconsumtion and total Kwh."
Hi there.
I have a Mitsubishi Kaiteki 6600.
Is it possible to get a readout of power consumption since midnight ? (And a total consumption readout? )

[2022-02-02 16:32] AmirSeifalian opened #33 "Can not add a device"
Hi,
I can't add a new device. I get the code time out after 30000 ms.

[2022-02-02 16:40] XattSPT commented on #33
Please double check melcloud login credentials, it usually is most common issue with this.

[2022-02-02 18:30] XattSPT commented on #33
Then try using other phone (some samsungs give this error) or try thought
webside on
https://tools.developer.homey.app/apps and then pairing option.

I’ve received some issues about this, but never dicovered where is error or
problem.

Hope this works!

El dc, 2 febr 2022 a les 19:25 AmirSeifalian ***@***.***> va
escriure:

[2022-02-02 18:32] OlivierZal commented on #33
Isn’t that a multiple floor issue?

[2022-02-02 18:36] XattSPT commented on #33
Thaks @OlivierZal , theorically it should work on multiple-floor but some times it does not work!

@AmirSeifalian try to move all devices on melcloud app on same floor, in some configurations (floor, buidings does not work).

PD if later you can tell me in which config does not work I'll will try to update/review code.

Thanks in advance to both!

[2022-02-02 19:59] AmirSeifalian commented on #33
Bingo. It didn't work with my Samsong S21 but it did work perfectly with S9+. I have now one unit witch in garage istalled but i have two other multiple-floor witch i cant add. im going to try to move them in the same floor and try it.

[2022-02-02 22:35] AmirSeifalian commented on #33
I have a separate unit in the garage. That one could i add pain free.  The garage is the last "floor" that i add to my melcloud app during installation.

I have two other units witch i use for floor 1 and 2 . these two are  multi split with the same head unit. I couldn't add them at first. I moved these two to floor 1 and the floor 2 but nothing happened.  I could add them when I moved them to the

[2022-02-04 15:02] Tonlaar opened #34 "Only 3 out of 5 wall units are visable"
I'm a new user of Homey. Installed the MELcloud app. All went well but only 3 of the 5 airco wall units show up. I have 2 split-level systems, one with 2 wall units (only one is visible), a second one with 3 wall units (only two visible). I can switch the 3 units on and off (shows up in the log file), change the operation (warm, cool, fan etc.) I can change the temperature and the fan speed (all t

[2022-02-04 16:40] XattSPT commented on #34
Try to move all units on melcloud app to same floor, and then add them to
homey. It seems there is something wrong on adding code that make some
units not visible.

El dv, 4 febr 2022 a les 16:02 Tonlaar ***@***.***> va
escriure:

[2022-02-05 17:16] Tonlaar commented on #34
The 3 working units are indeed on the 1st floor. The missing ones are on the ground floor
I'm not sure how to move the units to one floor.
I let you know what the effect is

[2022-02-05 17:45] XattSPT commented on #34
On melcloud app, go to unit, and on options (top rigth …) move unit.

El ds, 5 febr 2022 a les 18:16 Tonlaar ***@***.***> va
escriure:

[2022-02-06 12:16] Tonlaar commented on #34
Moved all units to the same floor and all 5 are visible now :-)

[2022-02-06 12:39] XattSPT commented on #34
Thx for replying. Once added you can move them back if you want.

I’ll take a llok to solve that problem on next update.

El dg, 6 febr 2022 a les 13:17 Tonlaar ***@***.***> va
escriure:

[2022-02-06 12:45] Tonlaar commented on #34
Moved them back to a separate floor and all is still working fine.

[2022-02-06 12:45] #34 closed

[2022-03-22 14:44] Tonlaar opened #35 "Sorry, this is a Domoticz problem :-( The “Mode” value of MELCloud is not reflecting the status of the airco units and not responding to changes"
A Mitsubishi Electric wall unit that actually is off, shows ”Vent”. When you change it in Domoticz (ie. "Warm") it will change back to “Vent” after a few seconds. The unit is still off.
Another unit is off and shows “Off”. Used the remote controller to switch this unit to “Warm”. The unit is On and heating but Domoticz still shows “Off”.
A unit is off and shows “Off”. Used Domoticz to set the unit

[2022-03-23 08:09] Tonlaar commented on #35
Sorry for this misleading post. In Homey this works fine!!
The reason I posted this problem is that my Homey is been unable to start up for a week now (Support is still working on the problem) and I'm back to manually controlling the temperature in the living room.
I have a skeleton implementation using Domotricz. Tried to implement the same solution. The reported problem is with the Domoticz plug

[2022-05-17 17:44] #35 closed

[2022-05-17 17:47] #30 closed

[2022-05-17 17:47] #28 closed

[2022-07-04 23:45] DavidDjerf opened #38 "AND card "Fan speed does not equal x" return bad true/false"
I am creating an advanced flow for my heatpump I am struggling with the AND card for the Melcloud app.
I try to do a "AND Fan Speed does not equal Very High" but it always return true, even when the fan speed is set to Very high.
If I instead use a logic card to check "Fan Power is not exactly 5" it returns proper true/false.

[2022-07-27 23:03] OlivierZal commented on #38
Hi @XattSPT, I got the resolution for this issue: https://github.com/XattSPT/com.melcloud/blob/9daeda6ed21ee28554a0808785c8836020563ad7/app.json#L2232

`fan_speed_conditioon` => `fan_speed_condition`

I am not allowed to make a pull request, can you please fix and deploy a new app version?

Thanks

[2022-07-28 20:57] OlivierZal commented on #38
Hi @XattSPT, I got the resolution for this issue:

https://github.com/XattSPT/com.melcloud/blob/9daeda6ed21ee28554a0808785c8836020563ad7/app.json#L2232
`fan_speed_conditioon` => `fan_speed_condition`

Here is the fix: https://github.com/XattSPT/com.melcloud/pull/39

Can you please review, merge and deploy a new app version?

Thanks

[2022-08-14 07:52] OlivierZal commented on #38
Hi @XattSPT, do you still maintain this Homey app? Do you want me to take over?

[2022-09-01 11:53] FeKik opened #41 "Cannot add second unit"
Hi, I have AC unit with one heatpump and 2 AC units inside. I cannot add the second one to Homey. Is there a possibility to repair it? Thank you. BR, Miroslav

[2022-09-01 12:46] XattSPT commented on #41
Try to move them on Melcoud App at same floor, then add them to homey app.

El dj, 1 set 2022 a les 13:54 FeKik ***@***.***> va escriure:

[2022-09-01 12:54] OlivierZal commented on #38
Hi @XattSPT, did you have the occasion to see my PR?

Please note there are 2 commits:
- https://github.com/XattSPT/com.melcloud/pull/40/commits/c1d181b89e69bebc604359af3d289f5f9dba14be fixes the `fan_speed_condition`
- https://github.com/XattSPT/com.melcloud/pull/40/commits/e05bca94e3fe36c71c2e6ca6fb9b68fecc4d3105 fixes an issue with `fan` and `dry` full mode selection (which automatically switch

[2022-09-01 13:48] XattSPT commented on #41
Check that: https://github.com/XattSPT/com.melcloud/issues/33

[2022-09-01 15:55] FeKik commented on #41
Hi, Thanks, this is working now :)

[2022-09-18 19:52] ronennieshow opened #45 "Settings setpoint temperture heatpump is not syncing with the melcloud app"
Just like the title

If i make a setting change in setpoint in the homey app ( change temperatuur ) it will not synq with the app
But homey does take the temp from the melcloud app.

This is only with the heatpump
Airco will work just fine

[2022-09-25 15:52] FridhF opened #48 "Eco Hot Water"
Eco hot water does not work on the ecodan.

[2022-09-26 16:12] #41 closed

[2022-09-26 16:13] #33 closed

[2022-09-26 16:14] XattSPT commented on #29
Not on plans for now. To publish apps for homey bridge is necessay to pay to publish an app. Who want to pay for someting that has no revenue?

[2022-09-26 16:14] #29 closed

[2022-09-26 16:15] #27 closed

[2022-09-28 14:46] ronennieshow commented on #45
Hi

Love the update
The forced hot water function is working now for the ecodan heathpumps
But setting the set temp in homey for the thermostat stil is not taken over bij melcloud and the thermostat in my home.
Also it is still not possible to switch the settings of the ecodan from operation mode and zone mode. This is also a thing that is not yet taken over bij the ecodan if you change the settin

[2022-09-28 18:11] novicell-jhj opened #49 "Wrong github repo shown on Homey App Store"
That's so strange. Today my Homey updated my MELCloud app to 3.0.2.
And that does not exists on this repo (newest is 2.0.12), but exists on a forked repo by Olivier Zal on https://github.com/OlivierZal/com.melcloud/tags

How the h... is that possible ?
There are no approved pull requests from Oliver, just pending, and no other commits with new version numbers.

Because of the new version, all my h

[2022-09-28 18:51] XattSPT commented on #49
Dear @novicell-jhj,
   I've no much time to continue developing apps so @OlivierZal has taken my work.
   Please add a new issue on his github and I'm sure he will try to solve.
Regards,
G.

[2022-09-28 18:56] novicell-jhj commented on #49
Thanks for your message Gerard 👍
Will @OlivierZal  get my message if I write in here ?

I have some big problems with my flows after I got the new version.

[2022-09-28 19:04] OlivierZal commented on #49
Hi @novicell-jhj, yes :-)

Please share with me what's wrong (error messages you get, etc.) and I'll find out the bug and fix it ASAP.

[2022-09-28 19:07] XattSPT commented on #49
@OlivierZal it seems you don't have enabled issues on your repository, so users coming from homey web cant open an issue.

[2022-09-28 19:10] novicell-jhj commented on #49
Yep, exactly @XattSPT. That's why I wrote here. Please activate issues @OlivierZal on your repo

[2022-09-28 19:14] OlivierZal commented on #49
@novicell-jhj, done.

[2022-09-28 19:21] OlivierZal commented on #49
@novicell-jhj, if you agree you can add my email olivier.zalmanski@me.com as a guest to your MELCloud account (with restricted access) so I can better debug your issues.

[2022-09-28 20:14] #49 closed

[2022-09-29 07:08] #38 closed

[2022-09-30 15:34] OlivierZal commented on #20
All these issues have been fixed in the latest version of the app. Don’t hesitate to raise any new issue in case of unexpected behavior. Regards

[2022-09-30 15:34] #20 closed

[2022-09-30 15:38] OlivierZal commented on #45
Hi @ronennieshow, can you please install this test version https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/ and tell if the issue solved?

[2022-09-30 15:40] OlivierZal commented on #32
Hi @Zeeker86, I’m the new developer of the app, I’l first try to fix some bugs in device controls and then implement energy reports. In the meanwhile don’t hesitate to install this test version https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/

[2022-09-30 15:41] OlivierZal commented on #26
Hi @Datamupp, can you please install this test version https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/ and tell me if the issue solved?

[2022-09-30 15:43] OlivierZal commented on #24
Hi @lawrenz89 and @Katatonz, I’m the new developer of the app, thanks for your suggestion, I will first fix some device control bugs and see what I can fetch from MELCloud API. In the meanwhile don’t hesitate to install this test version https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/

[2022-09-30 15:45] OlivierZal commented on #23
Hi @osauser, @dozepih and @Norjolo, I’m the new developer of the app, thanks for your suggestion, I will first fix some device control bugs and see what I can fetch from MELCloud API. In the meanwhile don’t hesitate to install this test version https://homey.app/fr-fr/app/com.mecloud/MELCloud/test/

[2022-09-30 15:55] ronennieshow commented on #45
Hi
The change's on the thermostat is solved.
If you change the temp in homey it is taken over by the thermostat and mel cloud.
Great.

Other things i will test as soon as possible

[2022-09-30 15:57] OlivierZal commented on #45
I'm glad to hear that!

Please don't hesitate to open a new issue on my GitHub in case of new issue.

[2022-09-30 15:59] ronennieshow commented on #45
Changing zone operation mode has no effect. It does not change from room heating to flow heating or what so ever.

[2022-09-30 16:04] OlivierZal commented on #45
This should have been fixed in test version 3.0.6 and have been successfully tested by some people, can you please provide me more details? (screenshots...).

[2022-09-30 16:12] ronennieshow commented on #45
The change in tempratur is setpoint heatpump is working fine.
It is the operation mode for the zone that does not respond to changes.
Like setting from room to flow
It wil stay in room modus.
![image](https://user-images.githubusercontent.com/113858484/193312174-8aff1c1b-b830-4fa6-836d-4b92420aad76.png)

![image](https://user-images.githubusercontent.com/113858484/193312432-9227ff7e-2fb1-41e9-8c8f

[2022-09-30 16:18] OlivierZal commented on #45
Very strange since I tested it myself with a device for which a user added me as a guest to his MELCloud... Can I see a screenshot of your device settings in Homey?

[2022-09-30 16:26] ronennieshow commented on #45
![image](https://user-images.githubusercontent.com/113858484/193315000-7c88e6c0-cbf3-4f9f-a46c-c1ea576b80c0.png)
![image](https://user-images.githubusercontent.com/113858484/193315083-266c7c5d-5a2c-412f-95ab-65bf9c11c175.png)

[2022-09-30 16:30] OlivierZal commented on #45
If I well understand your screenshots:
- sync Homey => MELCloud does not work for you, either from a flow or a manual change
- sync MELCloud => Homey works

[2022-09-30 16:31] ronennieshow commented on #45
Yes correct.

Temp changes from the homey to the melcloud in room modus do work fine at the moment. This isseu is fixt.

[2022-09-30 16:35] ronennieshow commented on #45
And strange
Now it is working.
Could it be the case that if you have set the function from room to flow te first time form mel cloud ---> homey it put in the wright settings and values.

Will check of it wil also works from a flow

[2022-09-30 16:40] ronennieshow commented on #45
If i make the change for the zone operation mode in a flow changes are not taken over by mel cloud or homey

[2022-09-30 16:40] OlivierZal commented on #45
It could an initialization issue: you need to sync from MELCloud first (because I migrated to Homey SDK 3) and it will be ok for good, or it can be a temporary sync issue (happens sometimes with MELCloud API).

Don't hesitate to open a new issue if you find one.

[2022-09-30 17:37] ronennieshow commented on #45
Well
Your doing a great job.
And to be fair. it is not a commen thing to change the zone operation mode verry often
i am verry glad to have the forced hot water, the temp synqs and the thermostat changes fixt.

[2022-09-30 19:23] OlivierZal commented on #45
I think I found the flow bug, I'll fix it in the next version.

[2022-09-30 20:17] #45 closed

[2022-10-02 10:34] #17 closed

[2022-10-02 11:14] Datamupp commented on #26
Hi @OlivierZal!  It worked like a charm :)  I've been using a modded version of v2.0.12 in which I fixed a few issues. In case you're interested in knowing what i've changed, and what I would like to change if I had the knowledge, just tell me :)

[2022-10-02 11:14] #26 closed

[2022-10-02 12:17] OlivierZal commented on #26
Hi @Datamupp, glad to hear! And yes I’m curious 🧐😊

[2022-10-02 12:51] Datamupp commented on #26
When setting the temperature for the watertank, the current temperature of the water was also temporary set to that temperature .  So if the current temperature is 47 with a target temp of 50, if I set the target temp to 54 the current temperature also goes to 54 and then dropping back to 47 in a few minutes.   I fixed this in MelCloudHPDriver.js around line 168 by removing the following line:  ar

[2022-10-02 12:56] OlivierZal commented on #26
With pleasure, I’ve already fixed some of the issues you mentioned in a upcoming 3.0.7 (will be released for testing soon), but since I’ve only air-to-air and no air-to-water, so I need to ask some GitHub people for guest accesses 😊

[2022-10-05 14:07] OlivierZal commented on #48
Hi @FridhF, after investigation, maybe it's more a limitation of the MELCloud API: the former developer added this value in the settings and but the value was not sent to MELCloud.

You can install this testing https://homey.app/a/com.mecloud/test/, which solves some couple of bugs.
Now this value is displayed in the dashboard rather than in the settings and is "read-only", so that you can see the

[2022-10-05 20:02] OlivierZal commented on #48
Exactly @XattSPT.

I found nothing neither on HomeAssistant or on pymelcloud.

I will probably write a script and increment EffectiveFlags until it changes EcoHotWater.

@FridhF that’s why I keep your issue open, keep faith 😉

[2022-10-07 05:08] OlivierZal commented on #48
@FridhF, I have an idea: do you see any button on MELCloud website enabling you to activate / deactivate Eco Hot Water? If so and if you agree to grant a temporary full guest access (available un the settings) to your MELCloud, I can add it.

[2022-10-07 11:14] OlivierZal commented on #48
@FridhF, I think I've kind of proved that MELCloud API does not support EcoHotWater modification: I tried the highest `EffectiveFlags` supported by the API (`9223372036854775807` – `9223372036854775808` and above cause a code 500) and EcoHotWater stil doesn't change.

[2022-10-07 12:48] #48 closed

[2022-10-07 12:59] OlivierZal commented on #23
I close this issue since it is a duplicate with https://github.com/XattSPT/com.melcloud/issues/32, I'll keep you informed in this last one.

[2022-10-07 12:59] #23 closed

[2022-10-07 23:13] OlivierZal commented on #31
Hi @Katatonz, I'm the new developer of the app.

I'm not sure I get your point since "room temperature" corresponds to the "actual temperature" in MELCloud.

Anyway, the display does not depend on the code but on Homey's standard capabilities for thermostat, so I don't think it's possible to change it.

Don't hesitate to tell me if I didn't understand your proposal!

For your information I've just

[2022-10-10 06:54] OlivierZal commented on #32
I will create an issue in the new project for a follow-up: it’s my next step.

[2022-10-10 06:54] #32 closed

[2022-10-10 06:56] OlivierZal commented on #31
I close this issue because of standard capabilities limitations and since I will propose soon a new version of the app which should address your request.

[2022-10-10 06:56] #31 closed

[2022-10-10 08:23] OlivierZal commented on #24
Hi @lawrenz89 and @Katatonz: to be continued in https://github.com/OlivierZal/com.melcloud/issues/21

[2022-10-10 08:23] #24 closed

[2022-10-10 10:59] Katatonz commented on #31
Hi OlivierZal,
Sorry for delayed response. Let me clarify, the "Room temperature" for an Ecodan/Water unit corresponds to the temperature in the indoor unit. This box is often placed in a technical room and could have a completely different room temperature than what is actual for the entire house or wanted reference temperature. Off course if accessories such as PAR-WT50R-E (wireless controller)